In [1]:
import pandas as pd

In [6]:
train_set = pd.read_csv('/root/CNN-LSTM/Dataset/KDDTrain+_progressed.csv',header=None)
train_set.head()

/tmp/ipykernel_2742/1494610707.py:1: DtypeWarning: Columns (36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127) have mixed types. Specify dtype option on import or set low_memory=False.
  train_set = pd.read_csv('/root/CNN-LSTM/Dataset/KDDTrain+_progressed.csv',header=None)

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0.0,4.000000e+00,5.000000,7.0,8.0,9.0,10.0,12.0,13.0,14.0,...,3_9,3_10,6_0,6_1,11_0,11_1,20_0,20_1,21_0,21_1
1,0.0,3.558064e-07,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,True,False,True,False,True,False,True,False
2,0.0,1.057999e-07,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,True,False,True,False,True,False,True,False
3,0.0,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,True,False,True,False,True,False,True,False
4,0.0,1.681203e-07,0.000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,True,False,False,True,True,False,True,False

In [7]:
test_set = pd.read_csv('/root/CNN-LSTM/Dataset/KDDTest-21_progressed.csv',header=None)
test_set.head()

/tmp/ipykernel_2742/1832726180.py:1: DtypeWarning: Columns (36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127) have mixed types. Specify dtype option on import or set low_memory=False.
  test_set = pd.read_csv('/root/CNN-LSTM/Dataset/KDDTest-21_progressed.csv',header=None)

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0.000000,4.000000e+00,5.000000,7.0,8.0,9.0,10.0,12.0,13.0,14.0,...,3_9,3_10,6_0,6_1,11_0,11_1,20_0,20_1,21_0,21_1
1,0.000225,1.878214e-06,0.001882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,True,False,False,True,True,False,True,False
2,0.000000,7.003509e-07,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,True,False,True,False,True,False,True,False
3,0.000000,0.000000e+00,0.000034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,True,False,True,False,True,False,True,False
4,0.000000,8.436045e-07,0.000043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,True,False,True,False,True,False,True,False

In [11]:
test_set.iloc[:,-1].value_counts()

114
1.0    19358
0.0     9776
2.0      669
3.0      188
4.0       12
Name: count, dtype: int64